.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.navbar-header {
  background: rgba(0, 0, 0, 0.05);
  line-height: 55px;
  text-align: center;
  padding-left: 24px;

  .navbar-brand {
    .text {
      color: rgb(255, 255, 255);
      line-height: 10px;
      font-size: 10px;
      display: inline;
    }
  }
}

.ant-menu-item {
  >span {
    >a {
      display: inline-block;
      color: rgba(255, 255, 255, 0.65) !important;
    }
  }
}

.ant-spin-nested-loading {
  height: 100%;
  overflow: scroll;
}
