.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout-header {
  box-shadow: 5px 0px 10px #001529;
}

.fa-user-circle-o {
  font-size: 18px;
  position: absolute;
  right: 220px;
  top: 23px;
  cursor: pointer;
}

ul.user-dropdown {
  list-style: none;
  padding: 0;

  .li-route {
    a {
      padding: 9px 15px;
      display: block;
      color: #67757c;

      &:hover {
        background: #f2f4f8;
        color: #009efb;
        text-decoration: none;
      }
    }
  }


  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
  }
}