.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.navbar-header {
  background: rgba(0, 0, 0, 0.05);
  line-height: 55px;
  text-align: center;
  padding-left: 24px;

  .navbar-brand {
    .text {
      color: rgb(255, 255, 255);
      line-height: 10px;
      font-size: 10px;
      display: inline;
    }
  }
}

.ant-spin-container {
  height: 100%;
}