html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

:global {
  #app {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    padding: 0;
    margin: 0;
  }
}