// @import './../../assets/css/icons/material-design-iconic-font/css/material-design-iconic-font.css';

.login-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10000;
  padding: 0;
  margin: 0;
  display: flex;
}

.lblock {
  flex: 1;
  height: 100%;
  background-color: rgb(102, 195, 74);

  .login-logo {
    padding: 20px;

    h5 {
      margin-left: 5px !important;
      margin-top: -10px !important;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      transform: translateY(-4px);
    }
  }

  .brand {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .carousel {
    height: 400px;
    margin: 0 auto;
    display: flex;
    width: 450px;
    text-align: center;

    >div {
      color: #fff;
      width: 100%;
      height: 100%;
    }
  }

  .ant-carousel .slick-list {
    padding-bottom: 40px;
  }
}

.rblock {
  flex: 1;
  height: 100%;
  background-color: rgb(27, 27, 27);
  color: #fff;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;

  h4 {
    color: #fff;
    margin-bottom: 20px;
  }

  .form {
    margin: 0 100px;
    flex: 1;
  }

  .form-item {
    margin-bottom: 20px;
    height: 50px;

    input {
      height: 50px;
      background-color: rgb(27, 27, 27);
      border: 0;
      border-bottom: 1px solid #888;
      border-radius: 0;
      outline: none;
      color: #fff;

      &:hover,
      &:focus {
        border: 0;
        border-bottom: 1px solid #888;
        outline: none;
      }
    }
  }

  .submitbtn {
    background: rgb(27, 27, 27);
    color: #60c84c;
    border: 1px solid #60c84c;
    width: 198px;
    height: 40px;
    margin-top: 20px;
  }
}
